*{
	margin:0;
	padding:0;
}
div #cabecera {
	width:100%;
	background:#49C6FF;
	height:120px;
}
div #titulo{
	width:25%;
	height:120px;
	display: inline-block;
}
h1{
	text-align:center;
}
div #botones{
	width:65%;
	height:120px;
	float:right;
	padding-right:100px;
	display: inline-block;
}
#buton {
  background: #49C6FF;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #fff;
  display: inline-block;
  padding: 15px;
  padding-left:30px;
  padding-right:30px;
  float:right;
  font-family: Arial;
  font-size: 16px;
  -webktit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#buton:hover {
  color:#49C6FF;	
  background: #fff;
}
#opciones{
	width:100%;
	height:60px;
	background:#fff;
	padding:0px;
	padding-left:650px;
	-webkit-box-shadow: 0px 3px 3px #DEDEDE;
}
#buton1{
	background: #fff;
    cursor: pointer;
    border-radius:0px;
    border: none;
    color: #8E8E8E;
    display: inline-block;
    padding: 15px;
	margin-right:40px;
    padding-left:0px;
    padding-right:0px;
    font-family: Arial;
    font-size: 16px;
    -webktit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#buton1:hover{
	-webkit-box-shadow:	0 4px 0 #49C6FF;
}
#contenido{
	width:100%;
	height:750px;
	padding:30px;
	position:relative;
}
#encabezado{
	padding:25px;
	margin: auto;
	width:500px;
	height:300px;
}
#titulo_cont{
	font-size:150px;
	color:#49C6FF;
}
#p{
	margin-left: 80px;
	color:#8E8E8E;
	font-size:18px;	
}
#empresario{
	position:absolute;
	bottom:130px;
	left:500px;
}
#carro{
	position:absolute;
    bottom:150px;
    right:500px;
}
#cuadro{
	width:1000px;
	height:600px;
	position:absolute;
	bottom:-450px;
	left:450px;
	background:#fff;
	box-shadow:0 0 6px 2px #C6C6C6;
	

}
#cuerpo{
	background:#49C6FF;
	width:100%;
	height:1200px;
}
#cuadro_tit{
	width:100%;
	height:190px;
	
}
#cuadro_cont{
	width:100%;
	height:250px;
}
#buton2{
	background: #49C6FF;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
	margin-right: 400px;
	margin-top:55px;
    display: inline-block;
    padding: 15px;
    padding-left:30px;
    padding-right:30px;
    float:right;
    font-family: Arial;
    font-size: 20px;
    -webktit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#buton2:hover{
	color:#49C6FF;
    background: #fff;
}
#cuadro_titulo{
	color:#49C6FF;
}
#cuadro_p{
	width:600px;
	margin: 0px auto;
	color:#8E8E8E;
	font-size:24px;
	padding-left:180px;
	font-family:Arial;

}
#cuadro_cont_1{
	width:50%;
	height:50%;
	display: inline-block;
}
#cuadro_cont_2{
	width:50%;
    height:50%;
	float:right;
	display: inline-block;
}
